.navbar{
    width: 100%;
    background-color: lightgreen;
}

.jumbotron{
    background-color: white;
    text-align: center;
}

.button{
    background-color: lightgreen;
}

.col-2{
    margin-left: 200px;
    float: left;
}

